{% extends "listing_app/base.html" %}

{%block content%}

<h1>LISTINGS</h1>

<div class="col">
    <div class="card">
        {% for listing in all_listings %}
            <img src="{{ listing.main_photo.url }}" width= 250px height=300px alt="connect" style="max-height:200px">
            <img src="{{ listing.photo_1.url }}" width= 250px height=300px alt="connect" style="max-height:200px">
            <p><b>Title:</b> {{ listing.title }}</p>
            <p><b>Condition:</b> {{ listing.condition }}</p>
            <p><b>Sale Type:</b> {{ listing.sale_type }}</p>
            <p><b>Price:</b> $ {{ listing.price|floatformat:2 }}</p>
            <p><b>Location:</b> {{ listing.city }}, {{ listing.state }}</p>
            <p><b>Post Date:</b> {{ listing.list_date }}</p>
            <ul>
                <a class="btn" href="{% url 'listing_app:detail' listing.id %}">View Listing</a>
            </ul>
            <hr/>
        {% empty %}
            <h3>No listings found. Try again.</h3>
        {% endfor %}
    </div>
</div>

{%endblock content%}
